* {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 2%;
    background-color: lightgrey;
}
.bio-box {
    display: flex;
    flex-direction: column;
}
.color-box {
    background-color: lightblue;
}
.portfolio {
    display: flex;
    align-items: center;
    justify-content: end;
}
.profile-pic {
    max-width: 33vh;
    margin-top: 5px;
    justify-content: center;
    align-self: center;
}
.bio {
    margin: 30px;
    font-size: 16px;
}
.nav-links {
    display: inline-block;
}
ul {
    padding-left: 0;
}
li {
    padding: 3px;
}
.nav-box {
    margin: 15px;
}
#nav li, h2 {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    align-content: center;
    justify-content: space-between;
 }
.home-link, .portfolio-link, .contact-link, .skills-link {
    background-color: white;
    padding: 6px;
    margin: 5px;
 }
#top {
    font-size: 30px;
    text-transform: uppercase;
 }
img .port {
    max-width: 100%;
}
.title {
    font-size: 40px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: lightskyblue;
}
.portfolio-container {
    padding-top: 10%;
    margin: 1px;
}
#portfolio {
    font-size: 22px;
    margin-top: 64px;
}
.box {
    padding-bottom: 30px;
}
.port {
    max-width: 42vh;
    justify-content: center;
    align-self: center;
    border-radius: 13%;
}
#skills {
    font-size: 22px;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: end;
}
.skills-container {
    padding-top: 10%;
    padding-bottom: 10%;   
}
.port-javascript {
    max-width: 33vh;
    justify-content: center;
    align-self: center;
    border-radius: 13%;
}
.port-react {
    max-width: 33vh;
    justify-content: center;
    align-self: center;
    border-radius: 13%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid grey 1px;
    background-color: rgba(231, 182, 182, 0.477);
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}
.top {
    text-transform: uppercase;
}
.footer-nav {
    display: none;
}


/* Media types */


@media screen and (min-width: 768px) {
    body {
        width: 99vw;
        overflow-x: hidden;
    }
    .nav-box {
        background-color: transparent;
        /* min-width: 100vw; */
        margin: 0;
    }
    #nav {
        display: flex;
        justify-content: center;
    }
    .home-link, .portfolio-link, .contact-link, .skills-link {
        background-color: transparent;
    }
    .bio-box {
        flex-direction: row-reverse;
        margin: 4vw;
    }
    .bio {
        margin: 22px;
        font-size: 26px;
        text-align: left;
    }
    .profile-pic {
        margin: auto;
    }
    #portfolio {
        display: flex;
        justify-content: center;
    }
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;       
    }
    .box-text {
        align-items: center;
    }
    .box {
        float: left;
        width: 45%;
        margin: 2vw;
    }
    .skills-container {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-box {
        max-width: 90%;
        padding-left: 76px;
    }
    .contact-text {
        margin-bottom: 50px;
    }
    .phone {
        padding: 6px;
    }
    .email {
        padding-bottom: 20px;
    }
    .top {
        display: none;
    }
    .footer-nav {
        display: flex;
        font-family: 'Source Serif Pro', serif;
        text-align: center;
    }
    .footer-nav li {
        list-style: none;
        padding-left: 20px;
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    .nav-box {
        display: flex;
        justify-content: space-between;
        width: 95%;
        position: absolute;
        top: 0;
        background-color: transparent;
    }
    .bio-box {
        padding: 2%;
    }
    .body {
        width: 100vw;

    }
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
        padding: 0;
        width: 300px;
    }
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .box-7, .box-8 {
        padding: 1px;
        flex-basis: calc(45% - 20px);
    }
    h3 {
        margin: 10% auto 0 auto;
        text-align: center;
    }

    /* .portfolio-container {
        flex-basis: calc(33.333% - 20px);
    } */
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* max-width: 27vw; */
        /* flex-basis: calc(33.333% - 20px); */
    }
}